
<!-- Si les datas sont pas chargé on affiche le loading -->
<div *ngIf="!CurrentCustomer" style="margin: auto;width: 110px;">
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status">Loading...</span>
  </button>
</div>




<!-- Quand les données sont charger on affiche l accordeon -->
<div *ngIf="CurrentCustomer">
  <p-accordion>

<!-- Profil Client -->
    <p-accordionTab header="Profil Client :  {{CurrentCustomer.firstName}} {{CurrentCustomer.lastName}}"[selected]="true">
      <app-summary></app-summary>
    </p-accordionTab>

<!-- Coordonées client -->
    <p-accordionTab header="Coordonées client">
      <app-coord [IdCustomer]="this.IdCust"></app-coord>
    </p-accordionTab>

    <!-- Adresse 1 -->
    <p-accordionTab header="Adresse {{CurrentCustomer.adresses[0].adrInfo}}" *ngIf="CustomerSummary.qtAdr>0">
    Adresse 1
    </p-accordionTab>

    <!-- Adresse 2 -->
    <p-accordionTab header="Adresse {{CurrentCustomer.adresses[1].adrInfo}}" *ngIf="CustomerSummary.qtAdr>1">
      Adresse 2
    </p-accordionTab>

    <!-- Adresse 3 -->
    <p-accordionTab header="Adresse {{CurrentCustomer.adresses[2].adrInfo}}" *ngIf="CustomerSummary.qtAdr>2">
       Adresse 3
    </p-accordionTab>

    <!-- Odp -->
    <p-accordionTab header="Offre de prix ({{CustomerSummary.qtOdp}})" *ngIf="CustomerSummary.qtOdp">
      <app-odp [Idcustomer]="this.IdCust"></app-odp>
    </p-accordionTab>

    <!-- Cmd -->
    <p-accordionTab header="Bon de commande ({{CustomerSummary.qtCmd}})" *ngIf="CustomerSummary.qtOdp">
      <app-cmd [Idcustomer]="this.IdCust"></app-cmd>
    </p-accordionTab>

    <!-- Fct -->
    <p-accordionTab header="facture ({{CustomerSummary.qtFct}})" *ngIf="CustomerSummary.qtOdp">
      <app-fct [Idcustomer]="this.IdCust"></app-fct>
    </p-accordionTab>

    <!-- Rpr -->
    <p-accordionTab header="Réparration ({{CustomerSummary.qtRpr}})" *ngIf="CustomerSummary.qtOdp">
      <app-odp [Idcustomer]="this.IdCust"></app-odp>
    </p-accordionTab>

    <!-- Dlc -->
    <p-accordionTab header="Download Content ({{CustomerSummary.qtDlc}})" *ngIf="CustomerSummary.qtOdp">
      <app-odp [Idcustomer]="this.IdCust"></app-odp>
    </p-accordionTab>

  </p-accordion>
