
<h3>Demo4 Attribut binding</h3>
<p>Permet de lier un attribut HTML avec le javascript<br>
tout les elements html sont touchable</p>


<h4>activer le bouton par pression sur la checkbox</h4>
<label><input type="checkbox" [(ngModel)]="IsEnabled">Activer le bouton {{IsEnabled}}</label>
<button [disabled]="!IsEnabled">Click ici</button>


<h4>Executer une methode au moment ou on appuye sur un touche du clavier dans la textbox</h4>
<p>{{msgbox}}</p>
<input type="text" [value]="msgbox" (input)="Changevalue($event)">

<h1>Exo </h1>
<p>Afficher une case qui permet de masquer ou non le mot de pass</p>

<div *ngIf="ShowPassword"><input type="text" value="Batman"></div>
<div *ngIf="!ShowPassword"><input type="password" value="Batman"></div>
<label><input type="checkbox" [(ngModel)]="ShowPassword">Afficher le password </label>
