.FormTitle {
    background-color: rgb(207, 207, 207);

    margin : auto;
    margin-bottom: 3px;
    text-align: center;
}
.label{

width:200px;
}

.txt-error {
    width: 100%;
    margin-left: 1%;
    color : darkred;
    font-size: small;
}
