.WelcomeText
{
    min-width: 400px;
    width: 80%;
    background-color: #F8F9FA ;   
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    font-size: medium;
}

.titre
{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    background-color: #F8F9FA ;   
    border: 1px solid black;
    border-radius: 5px;
}

.LogoContainer
{  
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;   
    margin: 20px auto;
}

.Logo
{
    width: 200px;
    background-color: white;
    height: 200px;
    background-image: url("../../../assets/img/sugar_logo_mini.jpg");
    background-size: 200px;
    border: solid 1px black;
    border-radius: 5px;
}
