.WelcomeText{
    min-width: 400px;
    min-height: 20%;
    max-width: 400px;
    max-height: 200px;
border: solid red 2px;
max-width: 200px;
}

.welcome{
    min-width: 200px;
    min-height: 20%;
    max-width: 400px;
    max-height: 200px;
    background-image: url("../../../assets/img/sugar_logo.jpg");
    border: 2px solid red;
}