<div class="container">
    <p-tabView>
        <p-tabPanel header="Ajouter">
            <div><p-tag icon="pi pi-user" value="Adresse" (click)="AddAdr()"></p-tag></div>
            <div><p-tag icon="pi pi-user" value="Offre de prix" (click)="AddOdp()"></p-tag></div>
            <div><p-tag icon="pi pi-user" value="Bon de commande" (click)="AddCmd()"></p-tag></div>
            <div><p-tag icon="pi pi-user" value="Facture" (click)="AddFct()"></p-tag></div>
            <div><p-tag icon="pi pi-user" value="Repair" (click)="AddRpr()"></p-tag></div>
            <div><p-tag icon="pi pi-user" value="Download Content" (click)="AddDlc()"></p-tag></div>
        </p-tabPanel>
        <p-tabPanel header="Rentabilité">
            <li>Analyse de la rentabilité d un client</li> 
            <li>Ratio de visite par an </li>
                <li>etc...</li>
        </p-tabPanel>
        <p-tabPanel header="Avantage">
            <li>% de réduction</li>
            <li>Livraison gratuite </li>
            <li>Extention de garantie</li>
        </p-tabPanel>
        <p-tabPanel header="Historique">
            <li>Affichage de l historique des passages du client</li>
        </p-tabPanel>
    </p-tabView>
    <p-toast></p-toast>
</div>