<div class="container">
    <p-tabView>
        <p-tabPanel header="Ajouter">
          <button pButton type="button" label="Ajouter Adresse" icon="pi pi-check" class="p-button-sm" style="height:20px;margin:5px"(click)="AddAdr()"></button>
          <button pButton type="button" label="Ajouter Offre de prix" icon="pi pi-check" class="p-button-sm" style="height:20px;margin:5px"(click)="AddAdr()"></button>
          <button pButton type="button" label="Ajouter Bon de commande" icon="pi pi-check" class="p-button-sm" style="height:20px;margin:5px"(click)="AddAdr()"></button>
          <button pButton type="button" label="Ajouter Facture" icon="pi pi-check" class="p-button-sm" style="height:20px;margin:5px"(click)="AddAdr()"></button>
          <button pButton type="button" label="Ajouter Repair" icon="pi pi-check" class="p-button-sm" style="height:20px;margin:5px"(click)="AddAdr()"></button>
          <button pButton type="button" label="Ajouter Download Content" icon="pi pi-check" class="p-button-sm" style="height:20px;margin:5px"(click)="AddAdr()"></button>
        </p-tabPanel>
        <p-tabPanel header="Rentabilité">
            <li>Analyse de la rentabilité d un client</li>
            <li>Ratio de visite par an </li>
                <li>etc...</li>
        </p-tabPanel>
        <p-tabPanel header="Avantage">
            <li>% de réduction</li>
            <li>Livraison gratuite </li>
            <li>Extention de garantie</li>
        </p-tabPanel>
        <p-tabPanel header="Historique">
            <li>Affichage de l historique des passages du client</li>
        </p-tabPanel>
    </p-tabView>
    <p-toast></p-toast>
</div>
