.footerbox{
    background-color: rgb(231, 231, 231);
    width: 100%;
    height: 100%;
display: flex;
background-color:#CFE2FF;
}

.footerboxname
{
    flex :auto;
}

.footeridUser
{   
    flex :auto;

}
.footerboxanno
{   
    flex :auto;

    text-align: right;
}
