

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Client</th>
        <th scope="col">Add by User</th>
        <th scope="col">Date In</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let cust of Customers; let i=index" [routerLink]="['/customer/show/'+cust.id]">
        <th scope="row">{{i+1}}</th>
        <td><div> {{cust.firstName}} {{cust.lastName}}</div></td>
        <td>{{cust.addByUser}}</td>
        <td>{{cust.dtIn | date:'d/MM/YYYY'}}</td>
        </tr>

    </tbody>
  </table>
